<config>
    <modules>
        <Super_Shippex>
            <version>1.0.0</version>
        </Super_Shippex>
    </modules>
    <global>
        <models>
            <shippex>
                <class>Super_Shippex_Model</class>
                <resourceModel>shippex_resource</resourceModel>
            </shippex>
            <shippex_resource>
                <class>Super_Shippex_Model_Resource</class>
                <entities>
                    <point>
                        <table>shippex_points</table>
                    </point>
                    <point_order>
                        <table>shippex_points_order</table>
                    </point_order>
                </entities>
            </shippex_resource>
        </models>
        <helpers>
            <shippex>
                <class>Super_Shippex_Helper</class>
            </shippex>
        </helpers>
        <blocks>
            <shippex>
                <class>Super_Shippex_Block</class>
            </shippex>
        </blocks>
        <resources>
            <shippex_setup>
                <setup>
                    <module>Super_Shippex</module>
                </setup>
            </shippex_setup>
            <shippex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippex_write>
            <shippex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippex_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shippex before="Mage_Adminhtml">Super_Shippex_Adminhtml</shippex>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <shippex>
                    <file>super/shippex.xml</file>
                </shippex>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <shippex_customer_delivery_point>
                        <class>shippex/adminhtml_observer</class>
                        <method>createShippingMethodBlockBefore</method>
                    </shippex_customer_delivery_point>
                </observers>
            </adminhtml_block_html_before>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <shippex_point_before_save_shipping_method>
                        <class>shippex/observer</class>
                        <method>beforeSaveShippingMethod</method>
                    </shippex_point_before_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_quote_collect_totals_before>
                <observers>
                    <shippex_point_collect_totals_before>
                        <class>shippex/observer</class>
                        <method>beforeCollectTotals</method>
                    </shippex_point_collect_totals_before>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_collect_totals_after>
                <observers>
                    <shippex_point_collect_totals_after>
                        <class>shippex/observer</class>
                        <method>afterCollectTotals</method>
                    </shippex_point_collect_totals_after>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <shippex>
                    <file>super/shippex.xml</file>
                </shippex>
            </updates>
        </layout>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <shippex_point_before_save_shipping_method>
                        <class>shippex/observer</class>
                        <method>beforeSaveShippingMethod</method>
                    </shippex_point_before_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_quote_collect_totals_before>
                <observers>
                    <shippex_point_collect_totals_before>
                        <class>shippex/observer</class>
                        <method>beforeCollectTotals</method>
                    </shippex_point_collect_totals_before>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_collect_totals_after>
                <observers>
                    <shippex_point_collect_totals_after>
                        <class>shippex/observer</class>
                        <method>afterCollectTotals</method>
                    </shippex_point_collect_totals_after>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </frontend>
    <default>
        <carriers>
            <shippex_point>
                <active>1</active>
                <model>shippex/carrier_point</model>
                <name>Self Pickup</name>
                <price>9.99</price>
                <title>Shippex</title>
                <showmethod>1</showmethod>
                <specificerrmsg>No available pickup points</specificerrmsg>
            </shippex_point>
        </carriers>
    </default>
</config>